{% load static %}

<div class="mainfooter mt-auto" role="contentinfo">
  <div class="footer-middle">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-6 col-xs-6">
        <!--Column1-->
          <style>
              p.short-about{
              margin-bottom: 0;
              color:#A0A0A0;
              }
          </style>
        <div class="footer-pad">
          <p class="footer-logo">Əlaqə</p>
          <p class="short-about">Ünvan: Bakı şəhəri, Nobel prospekti - 23, 7-ci mərtəbə </p>
            <p class="short-about">Telefon: +994 50 220 80 61 </p>
            <p class="short-about">e-mail: zuvand@mail.ru service.zuvand@gmail.com  </p>
            <p class="short-about">info@zuvand.az </p>

        </div>
      </div>


    <!--  <div class="col-md-4 col-sm-6">

        <div class="footer-useful">
          <h4>Faydalı keçidlər</h4>
          <ul class="list-unstyled">
            <li><a href="about.php">Haqqımızda</a></li>
            <li><a href="services.php">Xidmətlər</a></li>
            <li><a href="contact.php">Əlaqə</a></li>
           </ul>
        </div>
      </div>-->

    	<div class="col-md-5 col-sm-6 col-xs-6">
        <div class="footer-contact">
    		<h4>Bizdən soruşun</h4>

        <ul class="list-unstyled">
            <li> İş vaxtı : +994 12 598 85 17</li>
            <li>İş vaxtı sonrası : +994 50 220 80 61 </li>
            <li>+994 50 569 51 88</li>
            <li>+994 50 744 74 14 </li>
           </ul>

            <ul class="social-network social-circle">
             <li><a href="" target="_blank" class="icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
             <li><a href="" target="_blank"  class="icoLinkedin" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
		</div>
    </div>
  </div>
	<div class="row copy">
		<div class="col-md-12 ">
			<p class="text-center">ZUVAND Grand Power System <i class="far fa-copyright"></i> Copyright 2018.  Bütün hüquqları qorunur.</p>

		</div>
	</div>
  </div>
  </div>



  </div>
  </div>
</div>


</body>
</html>
